<% content_for :title, "Flexify" %>

<header class="center col-10">
  <h1 class="tts"><span>Flexify</span></h1>
  <p class="tts">
    <span>What</span>
    <span>do</span>
    <span>you</span>
    <span>want</span>
    <span>to</span>
    <span>see?</span>
  </p>
</header>

<%= form_tag({controller: "readability", action: "readify"}, method: "get") do %>
  <div class="tts col-9 center">
    <span style="color: snow;">Enter the URL here</span>
    <%= text_field_tag(:query, "Enter URL here", onclick: 'this.select();') %>
  </div>
    <%= submit_tag("Let me see!") %>
<% end %>

<footer class="col-4">
    <!-- <p class="tts">Developed by <a href="http://alxako.com" id="me">Alex Reyes</a></p> -->
</footer>
