<% content_for :title, "Flexify | Result Title" %>

<div id="toolbar">
  <div id="text-size">
    <i class="fa fa-text-height fa-3x"></i>
    <a href="javascript:increase_font_size();" class="tts fa fa-plus-circle fa-3x"></a>
    <a href="javascript:decrease_font_size();" class="tts fa fa-minus-circle fa-3x"></a>
  </div>
  <div>
    <i class="fa fa-adjust fa-3x"></i>
    <a href="javascript:change_color_scheme();" id="color_toggle" class="tts fa fa-toggle-off fa-3x"></a>
  </div>
  <div id="tts_toggle">
    <i class="fa fa-volume-up fa-3x"></i>
    <a href="javascript:toggle_tts();" class="tts fa fa-toggle-off fa-3x"></a>
  </div>
  <div id="font-family">
    <i class="fa fa-font fa-3x"></i>
    <a href="javascript:change_font_family();" class="tts fa fa-sort fa-3x"></a>
  </div>
</div>

<a href="javascript:back_to_top();">
  <i class="fa fa-arrow-circle-up fa-3x" id="back-to-top"></i>
</a>

<hr class="col-10"/>

<div id="content" class="col-9">
  <%= @result %>

<hr/>
<br>
<%= link_to 'Back', root_path %>

</div>
