/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Globals */
$red: #ff2626;
$blue: #006DDB;
$green: #19AA3C;
$background: #074751;

body {
  background-color: snow;
  width: 100%;
  margin: 0;
  font-size: large;
  font-family: sans-serif,
    "franklin-gothic-urw",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    Helvetica, Arial,
    "Lucida Grande";
}

h1 {
  text-align: center;
  font-size: 350%;
}

/* Glow Effect */
* {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 0 auto -55px auto;
}
.page-wrap:after {
  content: "";
  display: block;
}

.alert {
  background-color: #FFC0CB;
  color: $red;
  font-size: x-large;
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  &:hover {
    background-color: $blue;
    color: white;
  }
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: $green;
  }
}
span:hover {
  text-decoration: none;
  color: $blue;
}

.center {
  display: block;
  margin: 0 auto;
}

footer {
  left: 0;
  bottom: 0;
  padding: 15px 50px;
  p { width: 250px; }
}





/* Responsive CSS */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 963px) {
    /* For mobile phones: */
    [class*="col-"] {
    }

    input[type=text] { padding: 20px; }
    input[type=submit] { padding: 15px; }
    h1 { font-size: 300%; margin: 0; padding-top: 30px; }
    header p { font-size: 200%; }
    .navigation li a { font-size: 200%; }
    #about_details { font-size: 150%; }

    #content {
      padding: 1%;
    }

    #toolbar {
      width: 30%;
      div {
        display: block;
        border-left: 0;
        border-bottom: 3px solid grey;
      }
      #tts_toggle { border-bottom: 0; }
    }
}
