$white: rgba(250, 250, 250, 0.9);
$red: #ff2626;
$blue: #006DDB;
$green: #19AA3C;
$background: #074751;


#menulink,
#settings-icon {
  color: $blue;
	z-index: 999;
}

.wrapper {
  float: left;
	width: 130px;
  margin-left: 30px;
	z-index: 999;
}

.inner-wrapper {
	padding: 8px 0;
}

.menu-title {
	position: absolute;
	top: 10px;
	right: 0;
	width: 50%;
}

.menu-title p {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.navigation-wrapper {
	background: #000;
	background: rgba(0, 0, 0, .9);
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
	display: none;
}

.navigation {
	padding: 20px 5% 0 5%;
	display: none;
}

.show-about,
.show-menu {
	display: block;
}

.hide {
  display: none;
}

.navigation li {
	list-style: none;
	margin: 50px 0;
	transition: all ease .6s;
}
.navigation li.small-padding {
	margin: 0;
}

.navigation li a {
	display: block;
	padding: 10px 0 10px 1%;
	color: $white;
	text-decoration: none;
  // text-shadow: 1px 1px 1px rgb(0, 109, 219);
	font-size: 275%;
	letter-spacing: .1em;
	border-left: 3px solid $white;
	-moz-transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
  &:hover {
  	color: $blue;
  	padding-left: 2%;
  	border-left: 3px solid $blue;
  }
}

#about_details {
	padding: 10px 0 10px 1%;
	color: $white;
	text-decoration: none;
  // text-shadow: 1px 1px 1px rgb(0, 109, 219);
	font-size: 200%;
	letter-spacing: .1em;
	border-top: 3px solid rgb(100, 100, 100);
	border-bottom: 3px solid rgb(100, 100, 100);
	-moz-transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
