$red: #ff2626;
$blue: #006DDB;
$green: #19AA3C;
$background: #074751;

#me { font-size: large; }

/* Wrapper for input box */
input {
  display: block;
  font-size: 200%;
  &[type=text] {
    background-color: $blue;
    color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.32) inset;
    height: 40px;
    width: 90%;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &[type=submit] {
    background-color: $green;
    color: white;
    border-radius: 25px;
    margin: 30px auto;
    padding: 30px;
    &:hover {
      background-color: $red;
    }
  }
}
input:focus { outline: none; }
::-webkit-input-placeholder {
  color: $blue;
}
:-moz-placeholder {
  color: $blue;
}
::-moz-placeholder {
  color: $blue;
}
:-ms-input-placeholder {
  color: $blue;
}

header {
  p {
    font-size: 250%;
    text-align: center;
  }
}

#typed,
#response {
  font-size: large;
  color: $green;
  width: 350px;
  float: none;
  margin: 50px auto;
}
#typed p { font-size: xx-large; }
