$blue: #006DDB;

#content {
  margin: 0 auto;
  font-size: 100%;
  padding: 50px;
  height: 75px;
}

#toolbar {
  padding:  50px 30px;
  margin: 3px auto;
  width: 824px;
  div {
    display: inline-block;
    width: 170px;
    padding: 0 15px;
    border-left: 3px solid grey;
  }
  #text-size { border-left: 0; }
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    color: $blue;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
}
