<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- START Overlay Settings Menu  -->
	<div class="wrapper" id="menulink">
		<div class="inner-wrapper tts">
      <span style="font-size: 130%; color: snow; display: block;">Menu</span>
      <i class="fa fa-bars fa-3x menu-link" id="right-menu settings-icon"></i>
		</div>
	</div>

  <div class="navigation-wrapper">
  	<ul class="navigation">
      <li><a href="/" class="tts menu-item">Home</a></li>
      <li><a href="#" class="tts" id="about">About</a>
        <dl id="about_details" class="hide">
          <dt>SS10/AC1 Final Project</dt>
          <dd>
            <p>
              This application provides options for the user to increase
              the readability of a desired website.
            </p>
            <ul>
              <li>Group Members:</li>
              <li>Team Lead - Ian Jericho Medina</li>
              <li>UX/UI Designer - John Michael Tiu</li>
              <li>Front/Back-end Developer - Alex Reyes</li>
            </ul>
          </dd>
        </dl>
      </li>
      <li><a href="#" class="tts menu-item">Contact</a></li>
      <li><a href="javascript:close_menu();" class="tts">Close this menu</a></li>
    </ul>
  </div>
  <!-- END Overlay Settings Menu  -->


  <div class="page-wrap">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert tts col-6") %>
    <% end %>

    <%= yield %>

  </div>

  <!-- TTS Selection -->
  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
  <script>
  function getSelectionText() {
      var text = "";
      if (window.getSelection) {
          text = window.getSelection().toString();
      } else if (document.selection && document.selection.type != "Control") { // for Internet Explorer 8 and below
          text = document.selection.createRange().text;
      }
      return text;
  }
  $(document).ready(function (){ // when the document has completed loading
     $('body').mouseup(function (e){ // attach the mouseup event for all div and pre tags
      responsiveVoice.cancel(); // stop anything currently being spoken
      responsiveVoice.speak(getSelectionText()); //speak the text as returned by getSelectionText
     })
  });
  </script>
</body>
</html>
